/* Default Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared Styles */
/* shaping the main part */
main {
    max-width: 1440px;
    margin: 0 auto;

}


/* class for using the flexbox */
.display-flex {
    display: flex;
}

/* font colors */
.dark1 {
    color: #131313;
}

.dark2 {
    color: #424242;
}

.dark3 {
    color: #727272;
}

/* secondary color */
.secondary-color {
    background-color: rgba(255, 144, 14, 0.1);

}

/* button */
.primary-button {
    color: white;
    padding: 20px;
    background-color: #FF900E;
    border-radius: 10px;
    border: none;
    margin: 50px auto;
    font-size: 1.25rem;
    font-weight: 600;
}

/* button hover effect */
.primary-button:hover {
    cursor: pointer;
}


/* Header Styles */



/* Navigation Styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
}

/* to make it kind of responsive and it's also important for the future */
.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

.brand {
    font-weight: 700;
    font-size: 2.5rem;
}


/* banner styles */
/* whole banner */
.banner-content {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.1rem;

}

/* banner title */
.banner-title {
    font-weight: 700;
    font-size: 2.5rem;
}

/* banner image */
.banner-image {
    width: 100%;
    margin-bottom: 50px;
}




/* team section */
.teams {
    display: flex;
    gap: 70px;
    margin: 0px 60px;

}

.team-images,
.team-description {
    margin: 80px auto;
}

.team-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.team-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team-para {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.team-title {
    font-size: 2.5rem;
}


/* card section */

.facts{
    padding: 20px 50px;
}
.fact-cards{
    display: flex;
    gap: 120px;
}

.fact-title{
    font-size: 2.5rem;
    font-weight: 800px;

}

.fact-para{
    font-size: 1rem;
    
}

.fact-card{
    padding: 35px;
    text-align: center;
    border: 2px solid #FF900E;
    border-radius: 10px;
    height: 240px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-num{
    font-size: 2.5rem;
    font-weight: 600px;

}

.card-name{
    font-size: 1.2rem;
    font-weight: 600px;

}

.card-img{
    height: 2.5rem;
    width: 2.5rem;
}

.card-num, .card-img, .card-name{
    margin: 10px auto;
}



/* responsive media query */
@media screen and (max-width: 576px) {

    .navbar,
    .nav-links,
    .teams {
        flex-direction: column;
    }

    .team-images {
        grid-template-columns: repeat(1, 1fr);

    }

    .team-description{
        margin: 5 auto;
        
    }
}